.navb{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    height: 72px;
  }
  
  .navb ul{
    display: flex;
    list-style-type: none;
    gap: 24px;
    font-weight: 500;
  }